# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cache
.worksheet

# idea conf files
.idea
*.iml
*.ipr
*.iws

# building
target
*.class
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar